/* imports */
/* colors */
/* buttons */
/* contact */
.formTitle {
  font-size: 3rem;
  padding: 10px;
  text-align: center; }

.contactForm {
  width: 60%; }

.bigicon {
  color: #01264e;
  width: 40px; }

/* colors */
/* buttons */
/* services */
.serviceTitle {
  font-size: 3rem;
  padding: 10px;
  text-align: center; }

/* service table */
.thead-color {
  background-color: #01264e;
  color: #ccd6f8; }

/* service card */
.cards {
  justify-content: space-between; }

.card {
  width: 33%;
  margin: 10px 0px 65px 0px; }

.card-img-top {
  width: 100%; }

/* service comentarios */
#accordionComentarios div.card-header {
  color: #f87722;
  background-color: #ccd6f8;
  border: 2px solid #f87722; }

#accordionComentarios div.card-header:hover {
  box-shadow: 10px 5px 5px grey; }

#accordionComentarios button.text-accordion {
  text-decoration: none;
  font-weight: 200;
  color: #f87722;
  background-color: transparent;
  border: none;
  box-shadow: none;
  outline: none; }

/* colors */
/* buttons */
/* Body move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem; }

/* header */
header h2, header p {
  color: #660101; }

.carousel-item {
  height: 90vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

/* main */
main h2 {
  color: #021d7e; }

.novedades h1 {
  color: #01264e; }

.jumbotron {
  background-color: #e8ebf6; }

.btn-jumbotron {
  display: inline-block;
  padding: .5rem 1rem;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
  border-radius: .3rem;
  cursor: pointer;
  color: #ccd6f8;
  background-color: #01264e;
  border: 1px solid #01264e; }
  .btn-jumbotron:hover {
    text-decoration: none; }
  .btn-jumbotron:hover {
    color: #01264e;
    background-color: #ccd6f8; }

.btn-blue {
  display: inline-block;
  padding: .5rem 1rem;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
  border-radius: .3rem;
  cursor: pointer;
  color: #01264e;
  background-color: #ccd6f8;
  border-color: #01264e;
  box-shadow: none;
  width: 100%; }
  .btn-blue:hover {
    text-decoration: none; }
  .btn-blue:hover {
    color: #ccd6f8;
    background-color: #01264e; }

.btn-orange {
  display: inline-block;
  padding: .5rem 1rem;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
  border-radius: .3rem;
  cursor: pointer;
  color: #021146;
  background-color: #f87722;
  border-color: none;
  box-shadow: none;
  outline: none;
  width: 100%; }
  .btn-orange:hover {
    text-decoration: none; }
  .btn-orange:hover {
    box-shadow: 10px 5px 5px grey;
    outline: none; }
  .btn-orange:checked {
    outline: none; }
  .btn-orange:active {
    outline: none; }

.btn-sky {
  display: inline-block;
  padding: .5rem 1rem;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
  border-radius: .3rem;
  cursor: pointer;
  color: #01264e;
  border-color: #01264e; }
  .btn-sky:hover {
    text-decoration: none; }
  .btn-sky:hover {
    color: #ccd6f8;
    background-color: #01264e; }

/* footer */
footer {
  background-color: #01264e;
  color: #fff;
  padding-top: 3rem;
  padding-bottom: 6rem; }

footer h3 {
  color: #ccd6f8; }

footer a {
  color: #fff;
  font-weight: 600; }

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }

.right {
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: right; }

@media (max-width: 767px) {
  .center {
    align-items: flex-start; }
  .right {
    align-items: flex-start; } }
