/* Body move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

/* header */ 
header h2, header p{
    color: rgb(102, 1, 1);
}
.carousel-item {
    height: 90vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* main */
main h2{
    color: #021d7e;
}
.jumbotron{
    background-color: #e8ebf6;
}
.btn-primary {
    color: #ccd6f8;
    background-color: #01264e;
    border-color: #01264e;
}
.btn-primary:hover {
    color: #01264e;
    background-color: #ccd6f8;
    border-color: #01264e;
}
.btn-secondary {
    color: #01264e;
    background-color: #ccd6f8;
    border-color: #01264e;
}
.btn-secondary:hover {
    color: #ccd6f8;
    background-color: #01264e;
    border-color: #01264e;
}

/* footer */
footer{
    background-color: #01264e;
    color: #fff; 
    padding-top: 3rem;
    padding-bottom: 6rem;
}
footer h3{    
    color: #ccd6f8;
}
footer a{    
    color: #fff;    
    font-weight: 600;
}
.left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.right{
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: right;
}
@media (max-width: 767px) {
    .center{        
        align-items: flex-start;
    }    
    .right{
        align-items: flex-start;
    }
}

/* contact */
.formTitle {
    font-size: 3rem;
    padding: 10px;
    text-align: center;
} 
.contactForm{   
    width: 60%;
}
.bigicon {    
    color: #01264e;
    width: 40px;
}

/* services */
.serviceTitle {
    font-size: 3rem;
    padding: 10px;
    text-align: center;
} 
/* service table */
.thead-color{
    background-color: #01264e;
    color: #ccd6f8;
}
/* service card */
.cards{    
    justify-content: space-between;
}
.card{
    width: 33%;
    margin: 10px 0px 65px 0px;    
}
.btn-card{  
    width: 100%;
}
.card-img-top{
    width: 100%;
}